<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">  
	<head>  
	    <title>IndexPage</title>
	    
	    <!-- reference CSS file -->
		<link rel="stylesheet" th:href="@{/css/style.css}" />  
	</head>  
	
	<body>  
		<div id="container">  
			
		    <h1> Codegeas </h1> 
		    
		    <hr>
		    
			<div th:if="${param.logout}" class="success">
				Successfully logged out.
			</div>
			
			<a th:href="@{/home-page}" class="redirectLink">Login to access the site</a>					    
		</div>  
	</body>  
</html>