<!DOCTYPE HTML>  
<html xmlns:th="http://www.thymeleaf.org">  

	<head>  
	    <title>Login page</title>  
		
		<!-- reference CSS file -->
		<link rel="stylesheet"  th:href="@{/public/css/style.css}"/> 
	</head>  
	
	<body>
		<h1>Codegeas: Login page</h1>
	
		<hr>
		
		<div th:if="${param.error}" class="error errorColor">
			Invalid username or password.
		</div>
				
		<div class="formWrapper">
			<form th:action="@{/authenticateTheUser}" method="POST">
				<h2 class="form-title">Sign In</h2>
				
				<div class="inputDiv">
					<input type="text"placeholder="Username" name="username" autofocus="autofocus" class="inputField"/>
				</div>
	
				<div class="inputDiv">
					<input type="password" placeholder="Password" name="password" class="inputField"/>
				</div>
	
				<div>
					<input type="submit" value="Log in" class="loginButton"/>
				</div>
			</form>
		</div>
	
	</body>  
	
</html>